.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.result1-flex {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}
.inputPass {
  height: 40px;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(105, 103, 103);
  box-sizing: border-box;
  padding: 10px;
}
.result {
  width: 50%;
  box-shadow: 3px 6px 23px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 6px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 23px -8px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;

  /* position: relative; */
}

.result-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
}
.randomPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passLen {
  height: 40px;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(105, 103, 103);
  box-sizing: border-box;
  padding: 10px;
  margin-right: 10px;
}
.passSubmit {
  padding: 10px;
  border-radius: 10%;
  background-color: rgb(32, 58, 80);
  color: white;
  outline: none;
}
